.about-body {
    background-color: white;
    border: solid black;
    padding: 5%;
    columns: 2;
}

.about-text {
    margin: 30% 0 auto 10%;
}

#link {
    color: var(--accent);
}

#link:hover {
    color: black;
}

#link:active {
    box-shadow: 1px 1px;
}