@media screen and (min-width: 1281px) {
    .about-body {
        padding: 4%;
        column-count: 2;
        column-gap: 3%;
    }
}
.about-body {
    padding: 4%;
}

.about-text {
    background-color: white;
    border: solid black;
    margin-top: 10%;
    padding: 10%;

    
}

#link {
    color: var(--accent);
}

#link:hover {
    color: black;
}

#link:active {
    box-shadow: 1px 1px;
}