.contact-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#contact-info {
    border: solid;
    background-color: #ffffff;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10vh;
}

@media screen and (max-width: 1024px) {
    #contact-info {
        justify-content: flex-start;
    }
}

#socials-links {  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.socials-link-item {
    margin: 0 20px 2vh 0vh;
}

#link {
    margin-left: 20px;
    color: black;
}

#link:hover {
    color: var(--accent);
}

#link:active {
    box-shadow: 1px 1px;
}