.contact-content {
    border: solid;
    background-color: #ffffff;
    padding: 5%;
    display: grid;
    grid-area: 2 / 2 / span 1 /span 1;
    grid-template-areas: 'header header''socials form''email form';
}

.socials-link {  
    display: flex;
    align-items: center;
    margin: 20px;
}

#contact-header {
    grid-area: header;
    margin-top: auto;
}

#contact-email {
    grid-area: email;
}

#contact-form {
    grid-area: form;
}

#link {
    margin-left: 20px;
}

#link:hover {
    color: var(--accent);
}

#link:active {
    box-shadow: 1px 1px;
}