:root {
    --accent: #E7AD99;
    --font: "inconsolata";
}

* {
  font-family: var(--font);
  color: black;
}

body {
  margin: 1% 2%;
}

h1 {
  font-size: 60px;
  font-weight: 300;
}

h2 {
  font-size: 30px;
  font-weight: 200;
}
button {
  background-color: var(--accent);
  font-size: medium;
  border-color: black;
  border-radius: 10px;
  padding: 5px 20px;
  float: right;
}

button:hover {
  box-shadow: 1px 1px;
}

button:active {
  background-color: #ffffff;
}