#nav-link-home {
  text-decoration: none;
  font-size: x-large;
  position: relative;
  color: black;
  /* margin: auto; */
}

#nav-link-home::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: var(--accent);
  z-index: -1;
  transition: transform .3s ease;
}

#nav-link-home:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}