.project-tile {
    border: solid #000000;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 3px 3px;
}

.project-image {
    border: solid var(--accent);
    width: 98%;
    height: 180px;
    margin-left: auto;
}

.projects {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
    row-gap: 40px;
}

.skill {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
