.project-tile {
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: auto auto auto;
}

.project-image {
    background: var(--accent);
    box-shadow: rgba(149, 157, 165, 0.2) 1.95px 1.95px 2.6px;
    border: solid var(--accent);
    border-radius: 20px;
    height: 24vh;
    margin-left: auto;
    grid-area: 1 / 1 / span 2 / span 2;
}

.proj-img {
    border-radius: 20px;
}

.project-desc {
    grid-area: 2 / 2 / span 2 /span 2;
    background: #ffffff;
    border: solid #000000;
    padding: 15vh 20px 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 1.95px 1.95px 2.6px;
    min-height: 30vh;
}

.project-desc-text {
    display:flex;
    flex-direction: column;
}

.project-title {
    text-align: right;
    text-shadow: 2px #000000;
}

.desc-text {
    min-height: 10vh;
}

.skills-section {
    display: flex;
    min-height: 32px;
    margin-bottom: 2vh;
}

.skill-wrap {
    position: relative;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
  
.skill-name {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: small;
    text-align: center;
    background: rgba(231, 173, 153, 0.8);
}
  
.skill-wrap:hover .skill-name {
    visibility: visible;
}

/* 3 Column View */
@media screen and (min-width: 801px) {
    .projects {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 40px;
        row-gap: 40px;
    }
}
/* 2 Column View */
@media screen and (min-width: 801px) and (max-width: 1281px){
    .projects {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 40px;
        row-gap: 40px;
    }
}
/* Otherwise 1 Column View */
.projects {
    display: grid;
    row-gap: 40px;
}