.project-tile {
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: auto auto auto;
}

.project-image {
    background: #ffffff;
    border: solid var(--accent);
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 1.95px 1.95px 2.6px;
    height: 200px;
    margin-left: auto;
    grid-area: 1 / 1 / span 2 / span 2;
}

.project-desc {
    grid-area: 2 / 2 / span 2 /span 2;
    background: #ffffff;
    border: solid #000000;
    border-radius: 20px;
    padding: 80px 20px 20px 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 1.95px 1.95px 2.6px;
}

.project-title {
    text-align: right;
    margin-bottom: 0;
    font-weight: 900;
    text-shadow: #000000;
}

.projects {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
    row-gap: 40px;
}

.skill {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
